
.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}
button{
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul{
  display: flex;
  overflow-x: scroll;
  list-style: none;
}
li{
  min-width: 300px;
  display: flex;
  margin: 10px 0;
  border: #E0E0E0 2px solid;
  border-radius: 5px;
}
img{
  margin: 0 auto;
}
.Coca-Cola{
  object-fit: cover;
}
.Fanta.Guaraná{
  clip-path: inset(30px 0 0 0);
  object-fit: cover;
}
.img-product-cardapio{
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 150px;
}
.produto{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}
h2{
  font-weight: 700;
  font-size: 18px;
  color: #333;
  margin: 25px 0 25px 21px;
}
h5{
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  font-style: normal;
  margin: 0 0 0 22px;
}
h6{
  color: #27AE60;
  margin: 25px 0 25px 22px;
}

.logo-burguer-kenzie{
  width: 150px;
  height: 22.85px;
  margin: 15px 0;
}
.btn-pesquisar{
  margin-left: -120px;
  color: #fff;
  background-color: #27AE60;
  border-radius: 8px;
  border: #27AE60 solid 2px;
  padding: 11.5px 20px;
  font-weight: 500;
  cursor: pointer;
}
.barra-de-busca{
  height: 44px;
  width: 382px;
}
.btn-adicionar-carrinho{
  background-color: #27AE60;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 11.5px 20px;
  width: 106px;
  height: 40px;
  margin: 0 0 20px 20px;
  cursor:pointer;
}
.btn-adicionar-carrinho:hover{
  color: #fff;
  background-color: #93d7af;
}
.h3-elem-name{
  font-size: 14px;
  color: #333;
  margin: 7px 0;
}
.h5-elem-category{
  margin: 7px 0;
}
.div-nome-produto{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
}
.card-carrinho-de-compras{
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: #f5f5f5;
  width: 365px;
}
.img-carrinho{
  width: 70px;
  height: 70px;
  background-color: #E0E0E0;
  margin: 0;
  border-radius: 5px;
}
.btn-remover{
  color: #828282;
  border: none;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn-remover:hover{
  color: #fff;
  background-color: #828282;
}
.div-elemento-carrinho-de-compras{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 5px 0;
}
.carrinho-de-compras{
  width: 365px;
  background-color: #27AE60;
  height: 65px;
  color: #fff;
  border-radius: 4px 4px 0 0px;
  text-align: center;
  padding: 0 auto;
}
.parte-do-carrinho{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produtos-carrinho{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.remover-todos{
  border: none;
  border-radius: 5px;
  padding: 15.5px 25px;
  color: #828282;
  background-color: #f5f5f5;
}
.remover-todos:hover{
  color: #fff;
  background-color: #828282;
}
.span-preco{
  color: #828282;
}
.container-total{
  display: block;

}
.card-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sacola-vazia{
  color: #333;
  font-size: 26px;
}
.add-itens{
  font-size: 16px;
  color: #828282;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 130px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:800px){
  body{
    overflow-x: hidden;
  }
  ul{
    overflow:hidden;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
  }
  .App-header {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 80px;
  }
  .logo-burguer-kenzie{
    margin-left: 70px; 
  }
  .barra-de-busca{
    margin-right: 70px;
  }
  .btn-pesquisar{
    margin-left: -180px;
    margin-right: 70px;
  }
  .corpo-do-site{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
